DEBUG=True
SECRET_KEY=django-insecure-wz5rx#g%l7=r2ij$jq!o+qduhz==&00vq&39b1&hm(_f(snzvd
ENGINE=django.db.backends.sqlite3
DATABASE_NAME=db.sqlite3
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=UTC
PROJECT_MODE=local 